 
 <div class="navLinksContainer">
    <ul class="navLinks">
        <li><a skipLocationChange routerLink="accountmanagement">Account Management</a></li>
        <li><a skipLocationChange routerLink="invoice/journals">Invoice / Journals</a></li>
        <li><a skipLocationChange routerLink="reports">Reports</a></li>
        <li><a skipLocationChange routerLink="billstatus">Bill Status</a></li>
        <li><a skipLocationChange routerLink="operationlog">Operation Log</a></li>
        <li><a skipLocationChange routerLink="sofileupload">SO File Upload</a></li>
        <li><a skipLocationChange routerLink="generalfileupload">Genral File Upload</a></li>
        <li><a skipLocationChange routerLink="payments/">Payments</a></li>
        <li><a skipLocationChange routerLink="masterdatamanagement">Master Data Management</a></li>
        <li><a skipLocationChange routerLink="servicerole">Service Role</a></li>
         
    </ul>
 </div>
<router-outlet></router-outlet>